
{{{#*inline "head"}}}



<meta charset="UTF-8">

  <link rel="stylesheet" href="css/dashboard.css?v1">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Messages</title>

{{{/inline}}}

{{{#*inline "body"}}}

  <div class="sidebar">
    <div class="logo-details">
      <!-- <i class='bx bxl-c-plus-plus icon'></i> -->
        <div class="logo_name">teknopidu</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>

    <ul class="nav-list">
      <!-- SEARCHHHHHHHHHHH -->
      <li>
        <form method="post">
          <button class='bx bx-search' name="btnSearch" style="border-radius: 10px; height:100%; width: 50px; border: none;"></button>
         <input type="text" placeholder="Search..." name="txtSearch" style="color: black;">
         <span class="tooltip">Search</span>
        </form>

      </li>
      <table class="table" style="background-color: white; border-radius: 10px; width: 100%; text-decoration: none;">
                   
              
           
      </table>


      <!-- DASHBOARDDDDDDDDDDDDDDDD -->
      <!-- <li>
        <a href="dashboard.php">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li> -->


      <!-- MATCHESSSSSS -->
      <li>
       <a href="match.php">
         <i class='bx bx-user' ></i>
         <span class="links_name" id="startmatchingid">Start Matching</span>
       </a>
       <span class="tooltip" >Start Matching</span>
     </li>

      <!-- MESSAGEEEEEEEEEEEEE -->
     <li>
       <a href="users.php">
         <i class='bx bx-chat' ></i>
         <span class="links_name">Messages</span>
       </a>
       <span class="tooltip">Messages</span>
     </li>


    <!-- SAVED USERSSSSSSS -->
     <li>
       <a href="#">
         <i class='bx bx-heart' ></i>
         <span class="links_name">Saved</span>
       </a>
       <span class="tooltip">Saved</span>
     </li>


     <!-- SETTTINGSSSSSSS -->
     <li>
       <a href="settings.php">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Settings</span>
       </a>
       <span class="tooltip">Settings</span>
     </li>

     <li class="profile">
         <div class="profile-details">
          <img src="images/{{profileid}}" alt="profilepic">
           <div class="name_job">
             <!-- <div class="name">Janloi</div> -->
            
              <h1  class=name>{{username}}</h1>";
              
           </div>
           
         </div>
         <i class='bx bx-log-out' id="log_out" ></i>
     </li>
    </ul>
  </div>


  <section class="home-section">
  <div class="header">
    <div class="text">Chats | Messages</div>
  </div>
  <div class="wrapper">
    <section class="users">
      <header>
        <div class="content">
      
          <img src="images/{{userprofile}}" alt="">
          <div class="details">
            <span>{{username}} </span>
            <p>{{status}}</p>
          </div>
        </div>
      </header>
      <div class="search">
        <span class="text">Select a user to start chat</span>
        <input type="text" placeholder="Enter name to search...">
        <button><i class="fas fa-search"></i></button>
      </div>
      <div class="users-list">
        {{userslist}}
      
      </div>
    </section>
  </div>
  </section>


  <script src="js/dashscript.js"></script>
  <script src="js/users.js"></script>
{{{/inline}}}

